.form-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px;
}

#form-movie-new {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container>div {
  display: flex;
  justify-content: space-between;
}

#sec-messages {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 10px;
}

#sec_peliculas {
  padding-bottom: 3px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}


.pelicula {
  padding: 15px;
  width: 100%;
  padding-bottom: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.pelicula:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.685);
  border-radius: 15px;
}



.poster {
  width: 100%;
  /*. Los posters deben tener un ancho de 100%*/
  height: 600px;
  object-fit: cover;
  /* cubre el contenido */
  border-radius: 15px;
  /* un borde
    redondeado de 15px*/
  margin-bottom: 10px;
  /*un margen inferior de 10ps*/


}

.pelicula>h3 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  height: 50px;
}

.infoPeli {
  height: 100px;


}

.pelicula p {
  color: rgb(34, 138, 119);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0%;
  margin: 0;
  font-size: 12px;
  text-align: start;
}

.paginacion {
  position: relative;
  bottom: -30px;
  width: auto;
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 0px;
}

.paginacion button {
  cursor: auto;
  border: 0px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 40px;
  width: 150px;
  background-color: #09035a;
  color: var(--color-fondo-main);
  border-radius: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  transition: 0.3s ease all;
}

.paginacion button:hover {
  background-color: var(--color-back-active);

}

/*Estilos Generales Botones Favoritos*/
.button {
  background: #7f8c8d;
  color: var(--color-fondo-main);
  display: block;
  font-size: 12px;
  margin: 15px;
  padding: 10px 0;
  text-align: center;
  width: 200px;
  text-decoration: none;
  box-shadow: 0px 5px 12px #373c3c;
}

.button span {
  margin-right: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
}

.button.medium {
  width: 150px;
}

.button.radius {
  margin-left: 20%;
  border-radius: 50px;
}

.button:hover {
  box-shadow: 0px 0px 0px;
}

body.darkmode .paginacion button {
  color: #ffae00d2;
  box-shadow: 0px 0px 20px rgba(199, 167, 50, 0.685);
}

body.darkmode button {
  background-color: #39106cd8;
  color: #ffae00d2;
}

body.darkmode .pelicula:hover {
  background-color: #39106cd8;
  box-shadow: 0 12px 16px rgba(199, 167, 50, 0.685);
}

body.darkmode .button.radius:hover {
  transform: scale(1.15);
  box-shadow: 0px 0px 12px rgba(199, 167, 50, 0.685);
  background-color: rgba(105, 40, 209, 0.743);
}